:root {
    box-sizing: border-box;
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    font-family: "Sixtyfour Convergence", sans-serif;
}

header {
    padding: 30px;
    text-align: center;
    background: #222;
    color: white;
}

nav {
    margin-top: 15px;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

main {
    padding: 50px 20px;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 0 auto;
}

section h2 {
    margin-bottom: 20px;
}